%h1 Home#index

%p
  Find me in app/views/home/index.html.erb


- current_user = "Assad"

%ul
  %li first item
  %li second item
  %li
    %b= "Hi #{current_user}, you are #{20 * 3} points away!"

= render('awareness/grid')
